.cajaindex{
width: 100%;
   min-height: 50rem;
   height: 100%;
   background-color: #FFFFFF;
   margin: auto;
   text-align: center;
   
}


@media (max-width: 425px) {
   .cajaindex  {
      margin-left: 20px;
   }
 }
