.cajaindex{
   width: 100%;
   min-height: 95rem;
   height: 100%;
   background-color: #FFFFFF;
   margin: auto;
   text-align: center;
   
}


@media (max-width: 425px) {
   .cajaindex  {
      width: 100%;
      margin-left: 10px;
 
   }
 }
